body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.default {
  width: 30px;
  height: 10px;
}

.green {
  width: 30px;
  height: 10px;
  background-color: green;
}

.red {
  width: 30px;
  height: 10px;
  background-color: red;
}

.circleOn {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: green;
}

.circleOff {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: red;
}